.vs4-section{
  background-color: #F8E1DD;
}

.vs4-content{
  padding: 3.3vmax 0;
}

.vs4-heading-container{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 40px;
}

.vs4-heading{
  font-size: calc((2.8 - 1) * 1.2vw + 1rem);
  line-height: 1.8em;
  font-weight: 500;
  text-align: center;
  margin: 0;

  @media (max-width: 768px){
    font-size: calc((2.8 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  }
}

.vs4-content ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  align-items: stretch;
  padding: 0 2vw;
  margin: 0;

  @media (max-width: 768px){
    grid-template-columns: 1fr;
  }
}

.vs4-content li{
  background-color: white;
  padding: 15% 6%;
  list-style: none;
}

.vs4-content li h2{
  font-size: calc((1.6 - 1) * 1.2vw + 1rem);
  line-height: calc(1.4em * (1 + (1 - 2.8)/25));
  text-align: center;
  margin: 0 auto;

  @media (max-width: 768px){
    font-size: calc((1.6 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  }
}

.vs4-content li p{
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  font-family: "Poppins";
  line-height: 1.8em;
  font-weight: 300;
  text-align: center;
}

.vs4-content li a{
  color: #CF0B0B;
  font-family: "Poppins";
  line-height: 1.8em;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em;
  /* font-weight: 400; */
}

.vs4-content li p:last-child{
  margin: 0;
}