.vs1-section{
  position: relative;
  background-color: #F8E1DD;
  padding-top: calc((1.4 * calc((2 - 1) * 1.2vw + 1rem)) + 4vw); /* to accomodate the navbar */
  padding-bottom: 6vw;
  @media (max-width: 768px){
    padding-top: calc((1.4 * calc((2 - 1) * 1.2vw + 1rem)) + 12vw);
    /* padding-bottom: 8vw; */
  }
}

.vs1-content{
  padding: 3.3vmax 0;
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, minmax(calc(min( 2606px , calc(100vw - 2vw * 2 - 0vw ))* 0.0215), auto));
  grid-template-columns: minmax(calc( 2vw - 11.0px), 1fr) repeat(24, minmax(0, calc( ( 2606px - (11.0px * (24 - 1)) ) / 24 ))) minmax(calc( 2vw - 11.0px), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;

  @media (max-width: 768px){
    grid-template-rows: repeat(4, minmax(24px, auto));
    grid-template-columns: minmax(calc( 6vw - 11.0px), 1fr)
    repeat(8, minmax(0, calc( ( 2606px - (11.0px * (8 - 1)) ) / 8 )))
    minmax(calc( 6vw - 11.0px), 1fr);
  }
}

.vs1-content h1{
  grid-area: 1 / 6 / 4 / 22;
  text-align: center;
  font-size: calc(15.05vw + (calc(100vw - 1000px)*0.0033));
  line-height: 1;
  margin: 0;
  color: white;

  @media (max-width: 768px){
    grid-area: 1 / 2 / 5 / 10;
    font-size: calc(20.42vw + (calc(100vw - 500px)*0.0075));
  }
}

.venue-clip {
  display: block;
}

.vs1-background{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  clip-path: url(#venueClip);

  @media (max-width: 768px){
    clip-path: url(#venueClipSmall);
  
  }
}

.vs1-background img{
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.vs1-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.15;
}