.navbar{
  padding: 2vw !important;
  background-color: transparent !important;
  position: absolute !important;
  width: 100% !important;
  top: 0 ! important;
  z-index: 10;
  @media (max-width: 768px){
    padding: 6vw !important;
  }
}

.navbar .container-fluid{
  padding: 0 !important;
}

.navbar-brand{
  font-size: calc((2 - 1) * 1.2vw + 1rem) !important;
  font-weight: 500 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4em !important;
  letter-spacing: 0em !important;

 @media (max-width: 768px){
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem !important;
 }
}

.nav-link, .navlink, .nav-link a, .nav-item-content{
  font-size: 1rem !important;
  padding: 0.1em 0 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
  line-height: 1.8em;
  text-decoration: none;
  
  @media (max-width: 768px){
    color: black !important;
    font-size: 6.6vmin !important;
    /* line-height: 1.3em; */
  }

  @media (max-width: 576px){
    font-size: 8.5vmin !important;
    /* line-height: 1.3em; */
  }
}

.nav-link:not(:first-child){
  margin-left: 5vw !important;
}

.nav-link, .nav-item-content{
  @media (max-width: 768px){
    margin-left: 5vw !important;
    margin-top: 2.5vw !important;
    padding: 0 !important;
    line-height: 1 !important;
  }
}

.nav-item-content{
  display: inline-block;
  margin: 0 !important;
}

.nav-link:last-child{
  border: 1px solid white !important;
  padding: 1.6px 10px !important;

  @media (max-width: 768px){
    border: none !important;
    padding: 0 !important;
  }
}

.offcanvas-body{
  @media (max-width: 768px){
    display: flex !important;
    align-items: center !important;
    padding-top: 0 !important; 
  }
}

/* .nav-link:hover{
  color: white !important;
} */

.navbar-brand, .nav-link, .navlink, .nav-link a{
  color: white !important;
}

.active > .nav-item-content{
  background-image: linear-gradient(white, white) !important;
  background-repeat: repeat-x !important;
  background-size: 1px 1px !important;
  background-position: 0 calc(100% - 0.1rem) !important;

  @media (max-width: 768px){
    background-image: linear-gradient(black, black) !important;
  }
}

.navbar-toggler{
  border: none !important;
  color: white !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler-icon{
  background-image: url(../../assets/burger.svg) !important;
}

.offcanvas{
  @media (max-width: 768px){
    height: 100vh !important;
    background-color: transparent !important;
    opacity: 0 !important;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out !important;
  }
}

.offcanvas-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #F8E1DD !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-out !important;
  pointer-events: none;
  z-index: 900 !important; 
}

.offcanvas.show{
  opacity: 1 !important;
}

.offcanvas-bg.show {
  opacity: 1 !important;
}

.offcanvas-header{
  /* padding: 2vw !important;
  @media (max-width: 768px){
    padding-top: 4vw !important;
  } */
  /* height: 100% !important; */
  /* display: flex !important;
  align-items: center !important; */
  padding: 6vw !important;
}

.btn-close{
  margin-left: 0px !important;
  margin: 4px 12px !important;
  /* margin: 0 0 0 12px !important; */
  padding: 0 !important;
  height: 30px !important;
  width: 30px !important;
  background-image: url(../../assets/cross.svg) !important;
}

.btn-close:focus{
  box-shadow: none !important;
  outline-style: solid !important;
  outline-color: black !important;
  outline-width: 2px !important;
  outline-offset: -8px !important;
}

.offcanvas-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem !important;
  font-weight: 500 !important;
  text-wrap: nowrap !important;
  font-size: 1.5rem !important;
}
/* LOCATIIONS CSS SETTINGS */

/* path: /schedule & /rsvp */

.schedule .navbar-brand, .things-to-do .navbar-brand{
  color: #CF0B0B !important;
}

.rsvp .navbar-brand, .faq .navbar-brand{
  color: black !important;
}

.schedule .nav-link, .schedule .navlink,
.rsvp .nav-link, .rsvp .navlink,
.things-to-do .nav-link, .things-to-do .navlink,
.faq .nav-link, .faq .navlink{
  color: black !important;
}

.schedule .nav-link:last-child, 
.rsvp .nav-link:last-child,
.things-to-do .nav-link:last-child,
.faq .nav-link:last-child{
  border: 1px solid black !important;
}

.schedule .active > .nav-item-content, .rsvp .active > .nav-item-content, 
.things-to-do .active > .nav-item-content, .faq .active > .nav-item-content{
  background-image: linear-gradient(black, black) !important;
  background-repeat: repeat-x !important;
  background-size: 1px 1px !important;
  background-position: 0 calc(100% - 0.1rem) !important;
}

.rsvp .active > .nav-item-content{
  @media (min-width: 768px){
    background-image: none !important;
  }
}

.schedule .navbar-toggler-icon, .rsvp .navbar-toggler-icon,
.things-to-do .navbar-toggler-icon, .faq .navbar-toggler-icon{
  background-image: url(../../assets/burger-black.svg) !important;
}

/* path: /rsvp */

.rsvp .nav-link.active{
  border: 1px solid #CF0B0B !important;
  background-image: none !important;
  background-color: #F8E1DD;
  color: #CF0B0B !important;
}


